<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body>
    <h1>Login</h1>
    <form onsubmit="login(event)">
      <label for="email">Enter Email:</label><br />
      <input type="email" id="email" name="email" /><br /><br />

      <label for="password">Enter Password:</label><br />
      <input type="password" id="passsword" name="password" />
      <button>Login</button>
      <!-- <input type="submit" value="Login" /> -->
    </form>
    <p>Don't have an account? <a href="signup.html">Sign Up</a></p>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <script src="/ExpenseTracker/public/js/login.js"></script>
  </body>
</html>
